.hero {
    padding: 0;

    & .container {
            position: relative;
        }

    & .section__meta {
        color: $meta-light_gray;

        &::before {
                background-color: $meta-light_gray;
            }
    }

    & .section__title {
        font-size: 72px;
        line-height: 1.18;
    
        color: $page-white;
    }

    & .section__promotext {
        color: $tertiary-text-bg-dark;
    }

    // distinct styles 4 this
    & .promo-links {
        @extend %list;
        display: flex;
        align-items: center;
    }

    & .promo-links__item {
        &:first-child {
            // flex for aligning decorative before element
            display: flex;
            align-items: center;
        }

        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    & .promo-links__link {
        @extend %link;

        padding-top: 25px;
        padding-bottom: 25px;

        font-weight: 600;
        line-height: 1.36;
        letter-spacing: 0.2em;

        &:hover,
        &:focus {
            color: $page-accent;
        }
    }
}


.promo-links__item {
    &:first-child::before {
    /* horizontal decor element
        block used for:
        1) applying vertical geometries
        2) positioning in a single line */
        display: block;
        width: 60px;
        height: 1px;
        margin-right: 40px;

        content: '';

        background-color: $primary-text-bg-light;
    }
}

/* remove after adding img */
.slider-overlay {
    width: 1070px;
    height: 680px;

    margin-left: auto;
    padding-top: 272px;
    padding-left: 100px;

    background-color: $secondary-text-bg-light;
    background-image: linear-gradient(to right, $hero-bg_dark, $hero-bg_dark), url(../images/rawjpg/slider-img-3.jpg);
    background-size: cover;
}


.side-bar {
    position: absolute;

    display: flex;
    align-items: flex-end;

    padding-bottom: 33px;
    padding-left: 40px;

    width: 680px;
    height: 100px;

    // specifies the rotation point
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%); 
}
