.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section__meta,
.contact-us__meta {
    display: flex;
    align-items: center;

    margin-bottom: 20px;

    font-weight: 600;
    line-height: 1.36;

    text-transform: uppercase;

    &::before {
        /* horizontal decor element
        block used for:
        1) applying vertical geometries
        2) positioning in a single line */
        display: block;
        width: 60px;
        height: 1px;
        margin-right: 20px;

        content: '';

        background-color: $primary-text-bg-light;
    }
}

// markup madness
.section__title,
.booking-title,
.contact-us__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
}

// same s here
.section__promotext,
.price__item p {
    font-weight: 400;
    font-size: 18px;

    letter-spacing: 0.02em;
}

.section__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}